body{
    font-family:Arial;
    background:#f4f6f9;
}

.hero{
    background:url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
    height:350px;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-size:cover;
}

.hero h1{
    font-size:45px;
}

.card img{
    height:200px;
    object-fit:cover;
}

footer{
    text-align:center;
    background:black;
    color:white;
    padding:10px;
    margin-top:30px;
}